body{
    background:black;
}
.site-identity{
    text-align: center;   
    color:  #b7b7b7;
    padding-top: 30px;
    margin: 0px 50px;

}
.title a{
    font-size: 46px;
    color: #b7b7b7;
    letter-spacing: 4px;
    
}
.subtitle{
    letter-spacing: 3px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
strong{
    font-size: large;
}
.image{
      width:75% ;  
}
@media (max-width:900px){
    .image{
        width: 100%;
    }
}
.icon{
    padding-left: 6%;
}
@media(max-width:320px){
    .icon{
        font-size: xx-small;
    }
}
.kopiko:hover{
    cursor: pointer;
    color: rgb(177, 61, 2);
    transition-duration: 1s;
}